{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["css", "javascript", "markup", "objectivec", "swift"],
      "plugins": ["autoloader", "copy-to-clipboard", "show-language", "toolbar"],
      "theme": "tomorrow",
      "css": true
    }]
  ]
}
